.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;

  @media only screen and (max-width: $bp-1200px) {
    margin: 0;
    max-width: 100%;
    // width: 100%;
  }
}
.header {
  display: flex;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: $bp-480px) {
    flex-wrap: wrap;
    padding: 1rem;
    height: auto;
  }
}
.content {
  display: flex;

  @media only screen and (max-width: $bp-1000px) {
    flex-direction: column;
  }
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media only screen and (max-width: $bp-1000px) {
    flex-direction: row;
  }
  @media only screen and (max-width: $bp-480px) {
    flex-direction: row;
  }
}
.hotel-view {
  background-color: #fff;
  flex: 1;
}
.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  font-size: 1.4rem;

  @media only screen and(max-width:$bp-1000px) {
    padding: 2rem 2rem 6.5rem 2rem;
  }
  @media only screen and(max-width:$bp-700px) {
    flex-direction: column;
  }
}
.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 4.5rem;
  @media only screen and(max-width:$bp-1000px) {
    margin-right: 2rem;
    padding: 2rem;
  }
  @media only screen and(max-width:$bp-700px) {
    margin-bottom: 2rem;
    margin-right: 0rem;
    padding: 4rem;
  }
}
.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
